<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wheogus.house.dao.CalendarMapper">


    <select id="selectAll" resultType="CalendarDto">
        select week
        from calendar
    </select>


    <select id="findDay" parameterType="String" resultType="string">
        select week
        from calendar
        where week = #{week}
    </select>
</mapper>