<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wheogus.house.dao.MinusMapper">


    <select id="selectMinusAll" resultType="MinusDto">
        select *
        from minus
    </select>

    <select id="selectMinus" resultType="Integer">
        select sum(money)
        from minus
        where id = #{id}
    </select>

    <select id="dayMinus" resultType="String">
        select sum(money) as money, d
        from minus
        group by d
        order by d asc
    </select>
    
    <select id="minusContent" parameterType="String" resultType="MinusDto">
        select money, id, content, d, mno
        from minus
        where d = #{d}
    </select>

    <select id="findById" parameterType="MinusDto" resultType="MinusDto">
        select money
        from minus
        where id = #{id}
    </select>

    <insert id="insertMinus" parameterType="MinusDto">
        insert into minus
            (money, id, content, d)
        values
            (#{money}, #{id}, #{content}, #{d})
    </insert>

    <delete id="deleteMinus" parameterType="map">
        delete from minus where id = #{id} and mno = #{mno}
    </delete>

    <update id="updateMinus" parameterType="MinusDto">
        update minus
        set money = #{money}, content = #{content}
        where id = #{id} and mno = #{mno}
    </update>

</mapper>