<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wheogus.house.dao.PlusMapper">


    <select id="selectPlus" parameterType="PlusDto" resultType="Integer">
        select sum(money)
        from plus
        where id = #{id}
    </select>
    
    <select id="select" parameterType="PlusDto" resultType="PlusDto">
        select money, content
        from plus
        where d = #{d}
    </select>

    <select id="findById" parameterType="PlusDto" resultType="PlusDto">
        select money
        from plus
        where id = #{id}
    </select>

    <select id="plusContent" parameterType="String" resultType="PlusDto">
        select money, id, content, d, pno
        from plus
        where d = #{d}
    </select>

    <insert id="insertPlus" parameterType="PlusDto">
        insert into plus
            (money, id, content, d)
        values
            (#{money}, #{id}, #{content}, #{d})
    </insert>

    <delete id="deletePlus" parameterType="map">
        delete from plus where pno = #{pno} and id = #{id}
    </delete>

    <update id="updatePlus" parameterType="PlusDto">
        update plus
        set money = #{money}, content = #{content}
        where id = #{id} and mno = #{pno}
    </update>

</mapper>